@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('classes.css');

#winningAlert {
    display            : none;
    position           : absolute;
    top                : 400px;
    padding            : 0 10px 10px 10px;
    border-radius      : 100px;
    background-color   : rgba(121, 18, 21, 0.95);

    flex-direction     : column;
    align-items        : center;
    flex-wrap          : wrap;
    overflow-wrap      : break-word;
    word-wrap          : break-word;

    justify-content    : center;

    margin             : 10px;
    border-color       : var(--onBackground);
    border-width       : 0;
    border-style       : solid;

    box-shadow         : 0 /*X*/ 6px /*Y*/ 8px /*uklarhet*/ 0 /*spredning (optional)*/ var(--shadowColor);
    -webkit-box-shadow : 0 6px 8px 0 var(--shadowColor);
    }

#winningAlert h1 {
    user-select         : none;
    -webkit-user-select : none;
    color               : var(--secondary);
    white-space         : nowrap;
    font-family         : 'Playfair Display', serif;
    font-weight         : bolder;
    font-size           : 60pt;
    letter-spacing      : 3px;
    -webkit-animation   : heartbeat 5s ease-in-out infinite both;
    animation           : heartbeat 5s ease-in-out infinite both;
    margin              : 0.25em;
    /*line-break: auto;*/
    }





