/* ________________________ FANCY SELECT () ______________________ */
@import url(https://fonts.googleapis.com/css?family=Roboto);


*, *:after, *:before { box-sizing : border-box; outline : none;}


.selected-item {
    margin : 20px 0;
    }

/* custom select style */
.cusSelBlock {
    height    : 50px;
    min-width : 250px;
    }

.fancySelectThirdParty {
    height        : 100%;
    width         : 100%;
    margin        : 0;
    padding       : 0;
    border-radius : 0;
    }

.s-hidden {
    visibility : hidden;
    }

.cusSelBlock {
    margin        : 0;
    padding       : 0;
    border-radius : 0;
    display             : inline-block;
    position            : relative;
    -webkit-perspective : 800px;
    perspective         : 800px;
    }

.selectLabel {
    margin        : 0;
    padding       : 0;
    border-radius : 0;
    position                    : absolute;
    left                        : 0;
    top                         : 0;
    z-index                     : 9999;
    background-color            : #fff;
    border                      : 1px solid #333;
    box-shadow                  : 0 1px 1px rgba(0, 0, 0, 0.1);
    color                       : #333;
    cursor                      : pointer;
    display                     : block;
    height                      : 100%;
    width                       : 100%;
    letter-spacing              : 2px;
    line-height                 : 50px;
    padding                     : 0 50px 0 20px;
    text-align                  : left;
    -webkit-transform-style     : preserve-3d;
    transform-style             : preserve-3d;
    -webkit-transform-origin    : 50% 0%;
    transform-origin            : 50% 0%;
    -webkit-transition          : -webkit-transform 300ms;
    transition                  : -webkit-transform 300ms;
    transition                  : transform 300ms;
    transition                  : transform 300ms, -webkit-transform 300ms;
    -webkit-backface-visibility : hidden;
    -webkit-touch-callout       : none;
    -webkit-user-select         : none;
    -moz-user-select            : none;
    -ms-user-select             : none;
    user-select                 : none;
    }

.selectLabel:after {
    content     : '\25BC';
    border-left : 1px solid #333;
    color       : #333;
    font-size   : 12px;
    line-height : 17px;
    padding     : 10px;
    text-align  : center;
    position    : absolute;
    right       : 0px;
    top         : 15%;
    height      : 70%;
    width       : 50px;
    }

.selectLabel:active {
    -webkit-transform : rotateX(30deg);
    transform         : rotateX(30deg);
    }

.selectLabel:active:after {
    content : '\25B2';
    }

.selectLabel.active:after {
    content : '\25B2';
    }

.options {
    position : absolute;
    top      : 50px;
    height   : 1px;
    width    : 100%;
    margin   : 0;
    padding  : 0;
    }

.options li {
    margin             : 0;
    background-color   : #ffffff;
    border-left        : 1px solid #333;
    border-right       : 1px solid #333;
    border-bottom      : 1px solid #333;
    cursor             : pointer;
    display            : block;
    line-height        : 50px;
    list-style         : none;
    opacity            : 1;
    padding            : 0 50px 0 20px;
    text-align         : left;
    -webkit-transition : -webkit-transform 300ms ease;
    transition         : -webkit-transform 300ms ease;
    transition         : transform 300ms ease;
    transition         : transform 300ms ease, -webkit-transform 300ms ease;
    position           : absolute;
    top                : -50px;
    left               : 0;
    z-index            : 0;
    height             : 50px;
    width              : 100%;
    }

.options li:hover,
.options li.active {
    background-color : #333;
    color            : #fff;
    }

.options li:nth-child(1) {
    -webkit-transform : translateY(2px);
    transform         : translateY(2px);
    z-index           : 6;
    }

.options li:nth-child(2) {
    -webkit-transform : translateY(4px);
    transform         : translateY(4px);
    z-index           : 5;
    }

.options li:nth-child(3) {
    z-index : 4;
    }

.options li:nth-child(4) {
    z-index : 3;
    }

.options li:nth-child(5) {
    z-index : 2;
    }

.options li:nth-child(6) {
    z-index : 1;
    }

/**/
.feaBlock {
    margin     : 20px 0;
    text-align : left;
    }


