/*Set background of page*/
body {
    background-image: url("../../resources/loops/Dark_Wood_Floor.jpg");
}

button {
    font-size: 25px!important;
}

#button {
    background-color: lime;
}

#button2 {
    background-color: orange;
}

#bet {
    font-size: 25px;
}